// * { animation: none !important; transition: none !important; }
// * { background: #fff !important; border-color: #000 !important; box-shadow: none !important; color: #000 !important; filter: grayscale(100%) !important; text-shadow: none !important; }
// * { font-family: sans-serif !important; }
// * { user-select: all !important; }