// * { animation: none !important; opacity: 1 !important; transition: none !important; }
// * { background: #ffffff !important; border-color: #000000 !important; box-shadow: none !important; color: #000000 !important; filter: grayscale(100%) !important; text-shadow: none !important; }
// * { font-family: sans-serif !important; }
// * { user-select: all !important; }